<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS4132 Data Analytics</b> </font>

# Lab 3.2: Pandas

## (Section 3.4) Manipulating Dataframe

Complete the following questions and upload your `.ipynb` file to Coursemology.

Name the file in the following format:

`Lab<Num><YourName>.ipynb`

### Q1

We will use the wine data as discussed in the notes for this lab.

In [37]:
import pandas as pd
reviews = pd.read_csv("wine.csv", index_col=0) #read in data from wine.csv
reviews.head() #display the first few data from the dataframe

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

a) Select the first value from the description column of `reviews` and update it to `"The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity"`. Show that the data has been updated.

In [38]:
#your solution
reviews.loc[0, 'description'] = "The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity"
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"The palate isn't overly expressive, offering u...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

b) Select the records with index labels `1`, `2`, `3`, `5`, and `8`. Update the points of all these records to 90. Show that the data has been updated.

In [39]:
#your solution
reviews.loc[[1, 2, 3, 4, 5, 8], 'points'] = 90
reviews.iloc[[1, 2, 3, 4, 5, 8]]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,90,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,90,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,90,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,90,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,90,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,90,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel

c) For all wines where region_1 is a "Valley", increase the price by 5.

In [40]:
#your solutio
reviews.loc[reviews.region_1.notnull() & reviews.region_1.str.contains('Valley'), 'price'] += 5
reviews.loc[reviews.region_1.notnull() & reviews.region_1.str.contains('Valley')]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,90,19.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,90,70.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,24.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature
12,US,"Slightly reduced, this wine offers a chalky, t...",NaN,87,39.0,California,Alexander Valley,Sonoma,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini
33,US,"Rustic and dry, this has flavors of berries, c...",Puma Springs Vineyard,86,55.0,California,Dry Creek Valley,Sonoma,NaN,NaN,Envolve 2010 Puma Springs Vineyard Red (Dry Cr...,Red Blend,Envolve
34,US,"This shows a tart, green gooseberry flavor tha...",NaN,86,25.0,California,Sonoma Valley,Sonoma,NaN,NaN,Envolve 2011 Sauvignon Blanc (Sonoma Valley),Sauvignon Blanc,Envolve
41,US,"A stiff, tannic wine, this slowly opens and br...",NaN,86,27.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Hawkins Cellars 2009 Pinot Noir (Willamette Va...,Pinot Noir,Hawkins Cellars
55,US,This shows jelly-like flavors of orange and pe...,Estate Bottled,85,35.0,California,Napa Valley,Napa,NaN,NaN,RustRidge 2010 Estate Bottled Chardonnay (Napa...,Chardonnay,RustRidge
59,US,"Aromas of cranberry, barrel spice and herb are...",NaN,86,60.0,Washington,Columbia Valley (WA),Columbia Valley,Sean P. Sullivan,@wawinereport,Mellisoni 2014 Malbec (Columbia Valley (WA)),Malbec,Mellisoni
60,US,"Syrupy and dense, this wine is jammy in plum a...",Estate,86,105.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Okapi 2013 Estate Cabernet Sauvignon (Napa Val...,Cabernet Sauvignon,Okapi
62,US,"The aromas are brooding, with notes of barrel ...",Alder Ridge Vineyard,86,30.0,Washington,Columbia Valley (WA),Columbia Valley,Sean P. Sullivan,@wawinereport,Ram 2014 Alder Ridge Vineyard Cabernet Franc (...,Cabernet Franc,Ram
64,US,There are intriguing touches to the nose of th...,Golden Horn,86,31.0,California,Santa Ynez Valley,Central Coast,Matt Kettmann,@mattkettmann,Sevtap 2015 Golden Horn Sauvignon Blanc (Santa...,Sauvignon Blanc,Sevtap
67,US,"A blend of Merlot and Cabernet Franc, this win...",Inspired,86,51.0,Washington,Columbia Valley (WA),Columbia Valley,Sean P. Sullivan,@wawinereport,Basel Cellars 2013 Inspired Red (Columbia Vall...,Bordeaux-style Red Blend,Basel Cellars
70,US,"Aromas of vanilla, char and toast lead to ligh...",NaN,86,17.0,Washington,Columbia Valley (WA),Columbia Valley,Sean P. Sullivan,@wawinereport,Drumheller 2014 Chardonnay (Columbia Valley (WA)),Chardonnay,Drumheller
71,US,Big oak defines this robustly dense and extrac...,Old Vine,86,45.0,California,Alexander Valley,Sonoma,Virginie Boone,@vboone,Eco Terreno 2013 Old Vine Cabernet Sauvignon (...,Cabernet Sauvignon,Eco Terreno
75,US,This is made from equal parts Cabernet Franc a...,The Cypher,86,80.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Mulvane Wine Co. 2013 The Cypher Red (Napa Val...,Bordeaux-style Red Blend,Mulvane Wine Co.
84,US,A healthy addition of 13% Petite Sirah provide...,Classic,86,29.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Napa Cellars 2014 Classic Zinfandel (Napa Valley),Zinfandel,Napa Cellars
87,US,"Softened tannins surround a light-bodied, lean...",Blau Vineyards,86,60.0,California,Knights Valley,Sonoma,Virginie Boone,@vboone,Passaggio 2014 Blau Vineyards Merlot (Knights ...,Merlot,Passaggio
92,US,All red Bordeaux varieties are represented in ...,Magnificat,88,60.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Franciscan 2013 Magnificat Meritage (Napa Valley),Meritage,Franciscan
94,US,"Barrel notes are prominent, with aromas of Cre...",Grand Klasse Reserve Lawrence Vineyards,88,27.0,Washington,Columbia Valley (WA),Columbia Valley,Sean P. Sullivan,@wawinereport,Gård 2014 Grand Klasse Reserve Lawrence Vineya...,Viognier,Gård
99,US,This blends 20% each of all five red-Bordeaux ...,Intreccio Library Selection,88,80.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Soquel Vineyards 2013 Intreccio Library Select...,Bordeaux-style Red Blend,Soquel Vineyards

d) Split the taster name into first name and last name. Finally update taster name to be the first name only.

In [52]:
#your solution
reviews.loc[:, 'taster_name'] = reviews.loc[:, 'taster_name'].str.split(' ').str.get(0)
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"The palate isn't overly expressive, offering u...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,90,15.0,Douro,NaN,NaN,Roger,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,90,19.0,Oregon,Willamette Valley,Willamette Valley,Paul,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,90,13.0,Michigan,Lake Michigan Shore,NaN,Alexander,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,90,70.0,Oregon,Willamette Valley,Willamette Valley,Paul,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

e) Find all wines tasted by taster whose first name is 5 characters long.

In [84]:
#your solution
reviews[reviews.taster_name.str.split(' ').str.get(0).str.len() == 5]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"The palate isn't overly expressive, offering u...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,90,15.0,Douro,NaN,NaN,Roger,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam
11,France,"This is a dry wine, very spicy, with a tight, ...",NaN,87,30.0,Alsace,Alsace,NaN,Roger,@vossroger,Leon Beyer 2012 Gewurztraminer (Alsace),Gewürztraminer,Leon Beyer
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
22,Italy,Delicate aromas recall white flower and citrus...,Ficiligno,87,19.0,Sicily & Sardinia,Sicilia,NaN,Kerin,@kerinokeefe,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend,Baglio di Pianetto
24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",Aynat,87,35.0,Sicily & Sardinia,Sicilia,NaN,Kerin,@kerinokeefe,Canicattì 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola,Canicattì
26,Italy,Pretty aromas of yellow flower and stone fruit...,Dalila,87,13.0,Sicily & Sardinia,Terre Siciliane,NaN,Kerin,@kerinokeefe,Stemmari 2013 Dalila White (Terre Siciliane),White Blend,Stemmari
27,Italy,"Aromas recall ripe dark berry, toast and a whi...",NaN,87,10.0,Sicily & Sardinia,Terre Siciliane,NaN,Kerin,@kerinokeefe,Stemmari 2013 Nero d'Avola (Terre Siciliane),Nero d'Avola,Stemmari
28,Italy,"Aromas suggest mature berry, scorched earth, a...",Mascaria Barricato,87,17.0,Sicily & Sardinia,Cerasuolo di Vittoria,NaN,Kerin,@kerinokeefe,Terre di Giurfo 2011 Mascaria Barricato (Cera...,Red Blend,Terre di Giurfo
30,France,Red cherry fruit comes laced with light tannin...,Nouveau,86,NaN,Beaujolais,Beaujolais-Villages,NaN,Roger,@vossroger,Domaine de la Madone 2012 Nouveau (Beaujolais...,Gamay,Domaine de la Madone
42,France,"This is a festive wine, with soft, ripe fruit ...",Nouveau,86,9.0,Beaujolais,Beaujolais,NaN,Roger,@vossroger,Henry Fessy 2012 Nouveau (Beaujolais),Gamay,Henry Fessy
49,France,"Soft and fruity, this is a generous, ripe wine...",Eté Indien,86,14.0,Beaujolais,Brouilly,NaN,Roger,@vossroger,Vignerons de Bel Air 2011 Eté Indien (Brouilly),Gamay,Vignerons de Bel Air
53,France,"Fruity and lightly herbaceous, this has fine t...",La Fleur d'Amélie,85,15.0,Bordeaux,Bordeaux Blanc,NaN,Roger,@vossroger,Château de Sours 2011 La Fleur d'Amélie (Bord...,Bordeaux-style White Blend,Château de Sours
61,Italy,This densely hued wine has aromas of black plu...,Prugneto,86,17.0,Central Italy,Romagna,NaN,Kerin,@kerinokeefe,Podere dal Nespoli 2015 Prugneto Sangiovese (R...,Sangiovese,Podere dal Nespoli
63,France,"This fat, yeasty Champagne is comprised predom...",Brut Rosé,86,58.0,Champagne,Champagne,NaN,Roger,@vossroger,Roland Champion NV Brut Rosé (Champagne),Champagne Blend,Roland Champion
65,France,"From the warm 2015 vintage, this is a soft and...",NaN,86,24.0,Burgundy,Chablis,NaN,Roger,@vossroger,Simonnet-Febvre 2015 Chablis,Chardonnay,Simonnet-Febvre
66,France,"This soft, rounded wine is ripe with generous ...",NaN,86,15.0,Burgundy,Mâcon-Milly Lamartine,NaN,Roger,@vossroger,Vignerons des Terres Secrètes 2015 Mâcon-Mill...,Chardonnay,Vignerons des Terres Secrètes
69,France,"This cooperative, based in Aÿ, has benefited f...",Brut Rosé,86,55.0,Champagne,Champagne,NaN,Roger,@vossroger,Collet NV Brut Rosé (Champagne),Champagne Blend,Collet
72,Italy,"Aromas of black-skinned fruit, leather, underb...",Daginestra,86,32.0,Southern Italy,Aglianico del Vulture,NaN,Kerin,@kerinokeefe,Grifalco 2013 Daginestra (Aglianico del Vulture),Aglianico,Grifalco
79,Portugal,"Grown on the sandy soil of Tejo, the wine is t...",Bridão,86,NaN,Tejo,NaN,NaN,Roger,@vossroger,Adega Cooperativa do Cartaxo 2014 Bridão Touri...,Touriga Nacional,Adega Cooperativa do Cartaxo
82,France,"This fruity, sweet wine is immediately attract...",La Réserve,86,11.0,France Other,Vin de France,NaN,Roger,@vossroger,Lionel Osmin & Cie 2016 La Réserve Petit Manse...,Petit Manseng,Lionel Osmin & Cie
88,Italy,"Subdued aromas of French oak, toast and acacia...",Le Mandorle Riserva,86,29.0,Tuscany,Vernaccia di San Gimignano,NaN,Kerin,@kerinokeefe,Poggio Alloro 2014 Le Mandorle Riserva (Verna...,Vernaccia,Poggio Alloro
89,Italy,"Made primarily from Sangiovese, with some Malv...",NaN,88,19.0,Tuscany,Toscana,NaN,Kerin,@kerinokeefe,Fattoria Sardi 2015 Rosato (Toscana),Rosato,Fattoria Sardi
95,France,"This is a dense wine, packed with both tannins...",NaN,88,20.0,Beaujolais,Juliénas,NaN,Roger,@vossroger,Henry Fessy 2015 Juliénas,Gamay,Henry Fessy
96,France,The wine comes from one of the cru estates fol...,NaN,88,18.0,Beaujolais,Régnié,NaN,Roger,@vossroger,Henry Fessy 2015 Régnié,Gamay,Henry Fessy
98,Italy,"Forest floor, menthol, espresso, cranberry and...",Dono Riserva,88,30.0,Tuscany,Morellino di Scansano,NaN,Kerin,@kerinokeefe,Serpaia di Endrizzi 2010 Dono Riserva (Morell...,Sangiovese,Serpaia di Endrizzi

### Q2

Complete the following questions using the sample DataFrame given:

In [118]:
data = pd.DataFrame({"col1": range(3),"col2": range(3,6)})
data

   col1  col2
0     0     3
1     1     4
2     2     5

a) Insert a third column, named col3, with entries 6, 9, 10

In [119]:
#your solution
data.insert(2, 'col3', [6, 9, 10])
data

   col1  col2  col3
0     0     3     6
1     1     4     9
2     2     5    10

b) Insert a forth row with entries 5.

In [120]:
#your solution
data = pd.concat([data, pd.DataFrame([[5, 5, 5]], columns=['col1', 'col2', 'col3'])], ignore_index=True)
data

   col1  col2  col3
0     0     3     6
1     1     4     9
2     2     5    10
3     5     5     5

c) Swap the data in col2 and col1.

In [121]:
#your solution
temp = data['col1'].copy()
data['col1'] = data['col2']
data['col2'] = temp
data

   col1  col2  col3
0     3     0     6
1     4     1     9
2     5     2    10
3     5     5     5

d) Drop the rows 1 and 2.

In [122]:
#your solution
data.drop([1, 2])

   col1  col2  col3
0     3     0     6
3     5     5     5

e) Divide the elements in row 1 by the elements in row 2. Insert the result as a new row in the dataframe as the first row.

In [130]:
#your solution
temp = [data.iloc[1] / data.iloc[2]]
data = pd.concat([data, pd.DataFrame(temp, columns=['col1', 'col2', 'col3'])], ignore_index=True)
data

   col1  col2  col3
0   3.0   0.0   6.0
1   4.0   1.0   9.0
2   5.0   2.0  10.0
3   5.0   5.0   5.0
4   0.8   0.5   0.9

### Q3

Complete the following questions using the sample DataFrame given:

In [179]:
df1 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                    'food': ['fish', 'beans', 'bread']},
                   columns=['name', 'food'])
df1

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread

In [180]:
df2 = pd.DataFrame({'cusname': ['Mary', 'Joseph'],
                    'drink': ['wine', 'beer']},
                   columns=['cusname', 'drink'])
df2

  cusname drink
0    Mary  wine
1  Joseph  beer

a) Combine the information into a single DataFrame using inner merge.

In [181]:
#your solution
pd.merge(df1, df2, left_on='name', right_on='cusname', how='inner')

   name   food cusname drink
0  Mary  bread    Mary  wine

b) Combine the information into a single DataFrame using left merge.

In [182]:
#your solution
pd.merge(df1, df2, left_on='name', right_on='cusname', how='left')

    name   food cusname drink
0  Peter   fish     NaN   NaN
1   Paul  beans     NaN   NaN
2   Mary  bread    Mary  wine

c) There is a pandas function named `join()` which works similarly to `merge()`. Research on the `join()` function. Can the `join()` function be used to answer parts (a) and (b)? If yes, show how it can be done, if not, explain why.

No, they have different ons. join uses index for joining whereas merge uses common columns

Hence, summarize the similarities and differences between `join()` and `merge()`.

Similarity: Both functions are using for merging 2 dataframes
Differeneces: Merge does inner join by default, whereas join uses left join. join uses index for joining whereas merge uses common columns

### Q4

Complete the following questions using the sample DataFrame given:

In [189]:
import numpy as np
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})
df1

    fruit  weight  price
0   apple    high      8
1  banana  medium     10
2  orange     low     12
3   apple    high     13
4  banana  medium      2
5  orange     low     14
6   apple    high      1
7  banana  medium     14
8  orange     low      7

In [190]:
df2 = pd.DataFrame({'fruit': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
df2

    fruit  kilo  price
0   apple  high      5
1  orange   low      9
2    pine  high      3
3   apple   low      5
4  orange  high     13
5    pine   low      9

a) Combine the data in the two dataframes using `concat()` and reset the index for the new dataframe.

In [150]:
#your solution
pd.concat([df1, df2], ignore_index=True)

     fruit  weight  price  kilo
0    apple    high     12   NaN
1   banana  medium      8   NaN
2   orange     low      7   NaN
3    apple    high      4   NaN
4   banana  medium      3   NaN
5   orange     low      1   NaN
6    apple    high     13   NaN
7   banana  medium      3   NaN
8   orange     low      6   NaN
9    apple     NaN      8  high
10  orange     NaN     10   low
11    pine     NaN      3  high
12   apple     NaN      1   low
13  orange     NaN      3  high
14    pine     NaN     14   low

b) Combine the data in the two dataframes using `concat()` and group them using keys `Data A` and `Data B`.

In [153]:
#your solution
df = pd.concat([df1, df2], keys=['Data A', 'Data B'])
df

           fruit  weight  price  kilo
Data A 0   apple    high     12   NaN
       1  banana  medium      8   NaN
       2  orange     low      7   NaN
       3   apple    high      4   NaN
       4  banana  medium      3   NaN
       5  orange     low      1   NaN
       6   apple    high     13   NaN
       7  banana  medium      3   NaN
       8  orange     low      6   NaN
Data B 0   apple     NaN      8  high
       1  orange     NaN     10   low
       2    pine     NaN      3  high
       3   apple     NaN      1   low
       4  orange     NaN      3  high
       5    pine     NaN     14   low

Using the combined dataframe from above, show all oranges from Data B.

In [160]:
#your solution
df.loc['Data B'].loc[df.loc['Data B']['fruit'] == 'orange']

    fruit weight  price  kilo
1  orange    NaN     10   low
4  orange    NaN      3  high

c) Combine the data in the two dataframes using `concat()` horizontally.

In [161]:
#your solution
pd.concat([df1,df2],axis=1)

    fruit  weight  price   fruit  kilo  price
0   apple    high     12   apple  high    8.0
1  banana  medium      8  orange   low   10.0
2  orange     low      7    pine  high    3.0
3   apple    high      4   apple   low    1.0
4  banana  medium      3  orange  high    3.0
5  orange     low      1    pine   low   14.0
6   apple    high     13     NaN   NaN    NaN
7  banana  medium      3     NaN   NaN    NaN
8  orange     low      6     NaN   NaN    NaN

d) There is a pandas function named `append()` which works similarly to `concat()`. Research on the `append()` function. Can the `append()` function be used to answer parts (a) to (c)? If yes, show how it can be done, if not, explain why.

No, as it only works for a). This is a append can only append rows

In [191]:
df1.append(df2)

C:\Users\Mahir\AppData\Local\Temp\ipykernel_3708\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

    fruit  weight  price  kilo
0   apple    high      8   NaN
1  banana  medium     10   NaN
2  orange     low     12   NaN
3   apple    high     13   NaN
4  banana  medium      2   NaN
5  orange     low     14   NaN
6   apple    high      1   NaN
7  banana  medium     14   NaN
8  orange     low      7   NaN
0   apple     NaN      5  high
1  orange     NaN      9   low
2    pine     NaN      3  high
3   apple     NaN      5   low
4  orange     NaN     13  high
5    pine     NaN      9   low

Hence, summarize the similarities and differences between `append()` and `concat()`.

Similarities: Both of them append rows
Differences: concat can also appen horizontally ans accept the keys for mu

### Q5

There is no inbuilt insert function in pandas to insert a row of data. 
Write your own `insertRow()` function to allow a user to insert a row of data into a pandas dataframe.
You are NOT allowed to use the 2 methods described in the notes, and not allowed to use any for loops in this question.

In [173]:
def insertRow(df, index, data):
    return pd.concat([df[0: index], data,df[index : ]], ignore_index = True)

In [174]:
#Test your code here
insertRow(df1, 0, df2)

     fruit  weight  price  kilo
0    apple     NaN      8  high
1   orange     NaN     10   low
2     pine     NaN      3  high
3    apple     NaN      1   low
4   orange     NaN      3  high
5     pine     NaN     14   low
6    apple    high     12   NaN
7   banana  medium      8   NaN
8   orange     low      7   NaN
9    apple    high      4   NaN
10  banana  medium      3   NaN
11  orange     low      1   NaN
12   apple    high     13   NaN
13  banana  medium      3   NaN
14  orange     low      6   NaN

In [176]:
insertRow(df2, 5, df1)

     fruit  kilo  price  weight
0    apple  high      8     NaN
1   orange   low     10     NaN
2     pine  high      3     NaN
3    apple   low      1     NaN
4   orange  high      3     NaN
5    apple   NaN     12    high
6   banana   NaN      8  medium
7   orange   NaN      7     low
8    apple   NaN      4    high
9   banana   NaN      3  medium
10  orange   NaN      1     low
11   apple   NaN     13    high
12  banana   NaN      3  medium
13  orange   NaN      6     low
14    pine   low     14     NaN