<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS4132 Data Analytics</b> </font>

# Lab 5: Data Cleaning

Complete the following questions and upload your `.ipynb` file to Coursemology.

Name the file in the following format:

`Lab<Num><YourName>.ipynb`

### Q1

a) Load data found in Lab5.xlsx into dataframe using pandas. Combine the data in both tabs into one dataframe. The final merged table should be a union of data from both tabs.

In [2]:
#your solution
import pandas as pd
import numpy as np
df = pd.read_excel('Lab5.xlsx', sheet_name='Normal').merge(pd.read_excel('Lab5.xlsx', sheet_name='Overtime'), on='name', how='outer')
df

,name,Staff ID,normal_hrs_work,normal_rate,over_time_work,over_time_rate,weekly
0,Staff 01,10001.0,56,7.5,18,13.5,N
1,Staff 02,10002.0,44,7.5,8,8.25,Y
2,Staff 03,10003.0,53,8,20,10.5,Y
3,Staff 04,10004.0,57,8,NaN,NaN,NaN
4,Staff 05,10005.0,47,9,9,9,Y
5,Staff 06,10006.0,60,7.5,10,12,Y
6,Staff 07,10007.0,46,7.5,-,9.75,Y
7,Staff 08,10008.0,58,6.5,16,12.75,Y
8,Staff 09,10009.0,55,7.5,12,10.5,N
9,Staff 10,10010.0,57,6.5,10,10.5,Y
10,Staff 11,NaN,58,9,1,13.5,Y
11,Staff 12,10012.0,40,6.5,19,11.25,Y
12,Staff 14,10014.0,50,6.5,19,11.25,Y
13,Staff 15,10015.0,44,8.5,NaN,NaN,NaN
14,Staff 16,10016.0,-,8,16,10.5,N
15,Staff 17,10017.0,48,8.5,12,12.75,N
16,Staff 18,10018.0,42,7.5,3,8.25,Y
17,Staff 19,10019.0,59,6.5,10,13.5,Y
18,Staff 20,NaN,54,9,18,12,N
19,Staff 21,10021.0,42,6.5,16,-,Y
20,Staff 22,10022.0,42,9,9,11.25,Y
21,Staff 23,10023.0,53,-,8,10.5,N
22,Staff 25,10025.0,52,7,19,10.5,Y
23,Staff 26,10026.0,52,9,1,10.5,Y
24,Staff 27,10027.0,41,5.5,19,10.5,N
25,Staff 28,10028.0,57,8,19,NaN,Y
26,Staff 29,10029.0,44,5.5,17,12,Y
27,Staff 30,10030.0,43,7.5,1,9,Y
28,Staff 31,10031.0,48,7,11,8.25,Y
29,Staff 32,10032.0,NaN,7,11,13.5,Y
30,Staff 33,10033.0,58,8.5,3,10.5,Y
31,Staff 35,10035.0,43,8.5,4,11.25,Y
32,Staff 36,10036.0,55,7.5,NaN,12.75,Y
33,Staff 37,10037.0,50,6.5,17,9.75,Y
34,Staff 38,10038.0,58,8,2,11.25,Y
35,Staff 39,10039.0,41,-,5,11.25,Y
36,Staff 41,10041.0,46,8,NaN,NaN,NaN
37,Staff 42,NaN,60,6,2,12.75,N
38,Staff 43,10043.0,55,6,8,12,Y
39,Staff 44,10044.0,49,6.5,2,13.5,Y
40,Staff 45,10045.0,56,9,7,9.75,N
41,Staff 46,10046.0,51,8.5,3,11.25,Y
42,Staff 47,10047.0,40,7.5,12,12.75,N
43,Staff 48,10048.0,59,6,8,9.75,Y
44,Staff 49,10049.0,40,7,14,9.75,Y
45,Staff 50,10050.0,NaN,5.5,20,11.25,N
46,Staff 51,10051.0,58,8,15,12.75,N
47,Staff 52,10052.0,44,8.5,16,10.5,N
48,Staff 53,10053.0,59,7,NaN,NaN,NaN
49,Staff 54,10054.0,46,6.5,20,8.25,Y
50,Staff 55,NaN,41,7.5,5,NaN,N
51,Staff 56,10056.0,-,7.5,NaN,NaN,NaN
52,Staff 57,10057.0,46,8,16,9,N
53,Staff 58,10058.0,48,-,15,8.25,Y
54,Staff 59,10059.0,57,8.5,18,12,N
55,Staff 60,10060.0,46,8.5,13,12,Y
56,Staff 13,NaN,NaN,NaN,17,9,Y
57,Staff 24,NaN,NaN,NaN,14,8.25,N
58,Staff 34,NaN,NaN,NaN,19,9,N
59,Staff 40,NaN,NaN,NaN,-,10.5,N

b) Summarize the number of missing value for each column.

In [3]:
#your solution
df.isna().sum()

name               0
Staff ID           8
normal_hrs_work    6
normal_rate        4
over_time_work     6
over_time_rate     7
weekly             5
dtype: int64

c) Drop the rows that has missing value in the 'Staff ID' column.

In [4]:
#your solution
df.dropna(subset=["Staff ID"], axis=0, inplace= True) 
df

,name,Staff ID,normal_hrs_work,normal_rate,over_time_work,over_time_rate,weekly
0,Staff 01,10001.0,56,7.5,18,13.5,N
1,Staff 02,10002.0,44,7.5,8,8.25,Y
2,Staff 03,10003.0,53,8,20,10.5,Y
3,Staff 04,10004.0,57,8,NaN,NaN,NaN
4,Staff 05,10005.0,47,9,9,9,Y
5,Staff 06,10006.0,60,7.5,10,12,Y
6,Staff 07,10007.0,46,7.5,-,9.75,Y
7,Staff 08,10008.0,58,6.5,16,12.75,Y
8,Staff 09,10009.0,55,7.5,12,10.5,N
9,Staff 10,10010.0,57,6.5,10,10.5,Y
11,Staff 12,10012.0,40,6.5,19,11.25,Y
12,Staff 14,10014.0,50,6.5,19,11.25,Y
13,Staff 15,10015.0,44,8.5,NaN,NaN,NaN
14,Staff 16,10016.0,-,8,16,10.5,N
15,Staff 17,10017.0,48,8.5,12,12.75,N
16,Staff 18,10018.0,42,7.5,3,8.25,Y
17,Staff 19,10019.0,59,6.5,10,13.5,Y
19,Staff 21,10021.0,42,6.5,16,-,Y
20,Staff 22,10022.0,42,9,9,11.25,Y
21,Staff 23,10023.0,53,-,8,10.5,N
22,Staff 25,10025.0,52,7,19,10.5,Y
23,Staff 26,10026.0,52,9,1,10.5,Y
24,Staff 27,10027.0,41,5.5,19,10.5,N
25,Staff 28,10028.0,57,8,19,NaN,Y
26,Staff 29,10029.0,44,5.5,17,12,Y
27,Staff 30,10030.0,43,7.5,1,9,Y
28,Staff 31,10031.0,48,7,11,8.25,Y
29,Staff 32,10032.0,NaN,7,11,13.5,Y
30,Staff 33,10033.0,58,8.5,3,10.5,Y
31,Staff 35,10035.0,43,8.5,4,11.25,Y
32,Staff 36,10036.0,55,7.5,NaN,12.75,Y
33,Staff 37,10037.0,50,6.5,17,9.75,Y
34,Staff 38,10038.0,58,8,2,11.25,Y
35,Staff 39,10039.0,41,-,5,11.25,Y
36,Staff 41,10041.0,46,8,NaN,NaN,NaN
38,Staff 43,10043.0,55,6,8,12,Y
39,Staff 44,10044.0,49,6.5,2,13.5,Y
40,Staff 45,10045.0,56,9,7,9.75,N
41,Staff 46,10046.0,51,8.5,3,11.25,Y
42,Staff 47,10047.0,40,7.5,12,12.75,N
43,Staff 48,10048.0,59,6,8,9.75,Y
44,Staff 49,10049.0,40,7,14,9.75,Y
45,Staff 50,10050.0,NaN,5.5,20,11.25,N
46,Staff 51,10051.0,58,8,15,12.75,N
47,Staff 52,10052.0,44,8.5,16,10.5,N
48,Staff 53,10053.0,59,7,NaN,NaN,NaN
49,Staff 54,10054.0,46,6.5,20,8.25,Y
51,Staff 56,10056.0,-,7.5,NaN,NaN,NaN
52,Staff 57,10057.0,46,8,16,9,N
53,Staff 58,10058.0,48,-,15,8.25,Y
54,Staff 59,10059.0,57,8.5,18,12,N
55,Staff 60,10060.0,46,8.5,13,12,Y

d) Replace all the blanks in any of the columns with 'NaN'.

In [5]:
#your solution
df = df.replace(np.nan, 'NaN')
df = df.replace('-', 'NaN')
df

,name,Staff ID,normal_hrs_work,normal_rate,over_time_work,over_time_rate,weekly
0,Staff 01,10001.0,56,7.5,18,13.5,N
1,Staff 02,10002.0,44,7.5,8,8.25,Y
2,Staff 03,10003.0,53,8,20,10.5,Y
3,Staff 04,10004.0,57,8,NaN,NaN,NaN
4,Staff 05,10005.0,47,9,9,9,Y
5,Staff 06,10006.0,60,7.5,10,12,Y
6,Staff 07,10007.0,46,7.5,NaN,9.75,Y
7,Staff 08,10008.0,58,6.5,16,12.75,Y
8,Staff 09,10009.0,55,7.5,12,10.5,N
9,Staff 10,10010.0,57,6.5,10,10.5,Y
11,Staff 12,10012.0,40,6.5,19,11.25,Y
12,Staff 14,10014.0,50,6.5,19,11.25,Y
13,Staff 15,10015.0,44,8.5,NaN,NaN,NaN
14,Staff 16,10016.0,NaN,8,16,10.5,N
15,Staff 17,10017.0,48,8.5,12,12.75,N
16,Staff 18,10018.0,42,7.5,3,8.25,Y
17,Staff 19,10019.0,59,6.5,10,13.5,Y
19,Staff 21,10021.0,42,6.5,16,NaN,Y
20,Staff 22,10022.0,42,9,9,11.25,Y
21,Staff 23,10023.0,53,NaN,8,10.5,N
22,Staff 25,10025.0,52,7,19,10.5,Y
23,Staff 26,10026.0,52,9,1,10.5,Y
24,Staff 27,10027.0,41,5.5,19,10.5,N
25,Staff 28,10028.0,57,8,19,NaN,Y
26,Staff 29,10029.0,44,5.5,17,12,Y
27,Staff 30,10030.0,43,7.5,1,9,Y
28,Staff 31,10031.0,48,7,11,8.25,Y
29,Staff 32,10032.0,NaN,7,11,13.5,Y
30,Staff 33,10033.0,58,8.5,3,10.5,Y
31,Staff 35,10035.0,43,8.5,4,11.25,Y
32,Staff 36,10036.0,55,7.5,NaN,12.75,Y
33,Staff 37,10037.0,50,6.5,17,9.75,Y
34,Staff 38,10038.0,58,8,2,11.25,Y
35,Staff 39,10039.0,41,NaN,5,11.25,Y
36,Staff 41,10041.0,46,8,NaN,NaN,NaN
38,Staff 43,10043.0,55,6,8,12,Y
39,Staff 44,10044.0,49,6.5,2,13.5,Y
40,Staff 45,10045.0,56,9,7,9.75,N
41,Staff 46,10046.0,51,8.5,3,11.25,Y
42,Staff 47,10047.0,40,7.5,12,12.75,N
43,Staff 48,10048.0,59,6,8,9.75,Y
44,Staff 49,10049.0,40,7,14,9.75,Y
45,Staff 50,10050.0,NaN,5.5,20,11.25,N
46,Staff 51,10051.0,58,8,15,12.75,N
47,Staff 52,10052.0,44,8.5,16,10.5,N
48,Staff 53,10053.0,59,7,NaN,NaN,NaN
49,Staff 54,10054.0,46,6.5,20,8.25,Y
51,Staff 56,10056.0,NaN,7.5,NaN,NaN,NaN
52,Staff 57,10057.0,46,8,16,9,N
53,Staff 58,10058.0,48,NaN,15,8.25,Y
54,Staff 59,10059.0,57,8.5,18,12,N
55,Staff 60,10060.0,46,8.5,13,12,Y

e) Remove all rows with 'Nan' in column over_time_work.

In [6]:
#your solution
df = df[~(df.over_time_work == 'NaN')]
df

,name,Staff ID,normal_hrs_work,normal_rate,over_time_work,over_time_rate,weekly
0,Staff 01,10001.0,56,7.5,18,13.5,N
1,Staff 02,10002.0,44,7.5,8,8.25,Y
2,Staff 03,10003.0,53,8,20,10.5,Y
4,Staff 05,10005.0,47,9,9,9,Y
5,Staff 06,10006.0,60,7.5,10,12,Y
7,Staff 08,10008.0,58,6.5,16,12.75,Y
8,Staff 09,10009.0,55,7.5,12,10.5,N
9,Staff 10,10010.0,57,6.5,10,10.5,Y
11,Staff 12,10012.0,40,6.5,19,11.25,Y
12,Staff 14,10014.0,50,6.5,19,11.25,Y
14,Staff 16,10016.0,NaN,8,16,10.5,N
15,Staff 17,10017.0,48,8.5,12,12.75,N
16,Staff 18,10018.0,42,7.5,3,8.25,Y
17,Staff 19,10019.0,59,6.5,10,13.5,Y
19,Staff 21,10021.0,42,6.5,16,NaN,Y
20,Staff 22,10022.0,42,9,9,11.25,Y
21,Staff 23,10023.0,53,NaN,8,10.5,N
22,Staff 25,10025.0,52,7,19,10.5,Y
23,Staff 26,10026.0,52,9,1,10.5,Y
24,Staff 27,10027.0,41,5.5,19,10.5,N
25,Staff 28,10028.0,57,8,19,NaN,Y
26,Staff 29,10029.0,44,5.5,17,12,Y
27,Staff 30,10030.0,43,7.5,1,9,Y
28,Staff 31,10031.0,48,7,11,8.25,Y
29,Staff 32,10032.0,NaN,7,11,13.5,Y
30,Staff 33,10033.0,58,8.5,3,10.5,Y
31,Staff 35,10035.0,43,8.5,4,11.25,Y
33,Staff 37,10037.0,50,6.5,17,9.75,Y
34,Staff 38,10038.0,58,8,2,11.25,Y
35,Staff 39,10039.0,41,NaN,5,11.25,Y
38,Staff 43,10043.0,55,6,8,12,Y
39,Staff 44,10044.0,49,6.5,2,13.5,Y
40,Staff 45,10045.0,56,9,7,9.75,N
41,Staff 46,10046.0,51,8.5,3,11.25,Y
42,Staff 47,10047.0,40,7.5,12,12.75,N
43,Staff 48,10048.0,59,6,8,9.75,Y
44,Staff 49,10049.0,40,7,14,9.75,Y
45,Staff 50,10050.0,NaN,5.5,20,11.25,N
46,Staff 51,10051.0,58,8,15,12.75,N
47,Staff 52,10052.0,44,8.5,16,10.5,N
49,Staff 54,10054.0,46,6.5,20,8.25,Y
52,Staff 57,10057.0,46,8,16,9,N
53,Staff 58,10058.0,48,NaN,15,8.25,Y
54,Staff 59,10059.0,57,8.5,18,12,N
55,Staff 60,10060.0,46,8.5,13,12,Y

f) Reset the index of the dataframe.

In [7]:
#your solution
df = df.reset_index().drop(columns='index')
df

,name,Staff ID,normal_hrs_work,normal_rate,over_time_work,over_time_rate,weekly
0,Staff 01,10001.0,56,7.5,18,13.5,N
1,Staff 02,10002.0,44,7.5,8,8.25,Y
2,Staff 03,10003.0,53,8,20,10.5,Y
3,Staff 05,10005.0,47,9,9,9,Y
4,Staff 06,10006.0,60,7.5,10,12,Y
5,Staff 08,10008.0,58,6.5,16,12.75,Y
6,Staff 09,10009.0,55,7.5,12,10.5,N
7,Staff 10,10010.0,57,6.5,10,10.5,Y
8,Staff 12,10012.0,40,6.5,19,11.25,Y
9,Staff 14,10014.0,50,6.5,19,11.25,Y
10,Staff 16,10016.0,NaN,8,16,10.5,N
11,Staff 17,10017.0,48,8.5,12,12.75,N
12,Staff 18,10018.0,42,7.5,3,8.25,Y
13,Staff 19,10019.0,59,6.5,10,13.5,Y
14,Staff 21,10021.0,42,6.5,16,NaN,Y
15,Staff 22,10022.0,42,9,9,11.25,Y
16,Staff 23,10023.0,53,NaN,8,10.5,N
17,Staff 25,10025.0,52,7,19,10.5,Y
18,Staff 26,10026.0,52,9,1,10.5,Y
19,Staff 27,10027.0,41,5.5,19,10.5,N
20,Staff 28,10028.0,57,8,19,NaN,Y
21,Staff 29,10029.0,44,5.5,17,12,Y
22,Staff 30,10030.0,43,7.5,1,9,Y
23,Staff 31,10031.0,48,7,11,8.25,Y
24,Staff 32,10032.0,NaN,7,11,13.5,Y
25,Staff 33,10033.0,58,8.5,3,10.5,Y
26,Staff 35,10035.0,43,8.5,4,11.25,Y
27,Staff 37,10037.0,50,6.5,17,9.75,Y
28,Staff 38,10038.0,58,8,2,11.25,Y
29,Staff 39,10039.0,41,NaN,5,11.25,Y
30,Staff 43,10043.0,55,6,8,12,Y
31,Staff 44,10044.0,49,6.5,2,13.5,Y
32,Staff 45,10045.0,56,9,7,9.75,N
33,Staff 46,10046.0,51,8.5,3,11.25,Y
34,Staff 47,10047.0,40,7.5,12,12.75,N
35,Staff 48,10048.0,59,6,8,9.75,Y
36,Staff 49,10049.0,40,7,14,9.75,Y
37,Staff 50,10050.0,NaN,5.5,20,11.25,N
38,Staff 51,10051.0,58,8,15,12.75,N
39,Staff 52,10052.0,44,8.5,16,10.5,N
40,Staff 54,10054.0,46,6.5,20,8.25,Y
41,Staff 57,10057.0,46,8,16,9,N
42,Staff 58,10058.0,48,NaN,15,8.25,Y
43,Staff 59,10059.0,57,8.5,18,12,N
44,Staff 60,10060.0,46,8.5,13,12,Y

g) Rename the column over_time_work to overtime_hrs_work

In [8]:
#your solution
df = df.rename(columns={'over_time_work' : 'overtime_hrs_work'})
df

,name,Staff ID,normal_hrs_work,normal_rate,overtime_hrs_work,over_time_rate,weekly
0,Staff 01,10001.0,56,7.5,18,13.5,N
1,Staff 02,10002.0,44,7.5,8,8.25,Y
2,Staff 03,10003.0,53,8,20,10.5,Y
3,Staff 05,10005.0,47,9,9,9,Y
4,Staff 06,10006.0,60,7.5,10,12,Y
5,Staff 08,10008.0,58,6.5,16,12.75,Y
6,Staff 09,10009.0,55,7.5,12,10.5,N
7,Staff 10,10010.0,57,6.5,10,10.5,Y
8,Staff 12,10012.0,40,6.5,19,11.25,Y
9,Staff 14,10014.0,50,6.5,19,11.25,Y
10,Staff 16,10016.0,NaN,8,16,10.5,N
11,Staff 17,10017.0,48,8.5,12,12.75,N
12,Staff 18,10018.0,42,7.5,3,8.25,Y
13,Staff 19,10019.0,59,6.5,10,13.5,Y
14,Staff 21,10021.0,42,6.5,16,NaN,Y
15,Staff 22,10022.0,42,9,9,11.25,Y
16,Staff 23,10023.0,53,NaN,8,10.5,N
17,Staff 25,10025.0,52,7,19,10.5,Y
18,Staff 26,10026.0,52,9,1,10.5,Y
19,Staff 27,10027.0,41,5.5,19,10.5,N
20,Staff 28,10028.0,57,8,19,NaN,Y
21,Staff 29,10029.0,44,5.5,17,12,Y
22,Staff 30,10030.0,43,7.5,1,9,Y
23,Staff 31,10031.0,48,7,11,8.25,Y
24,Staff 32,10032.0,NaN,7,11,13.5,Y
25,Staff 33,10033.0,58,8.5,3,10.5,Y
26,Staff 35,10035.0,43,8.5,4,11.25,Y
27,Staff 37,10037.0,50,6.5,17,9.75,Y
28,Staff 38,10038.0,58,8,2,11.25,Y
29,Staff 39,10039.0,41,NaN,5,11.25,Y
30,Staff 43,10043.0,55,6,8,12,Y
31,Staff 44,10044.0,49,6.5,2,13.5,Y
32,Staff 45,10045.0,56,9,7,9.75,N
33,Staff 46,10046.0,51,8.5,3,11.25,Y
34,Staff 47,10047.0,40,7.5,12,12.75,N
35,Staff 48,10048.0,59,6,8,9.75,Y
36,Staff 49,10049.0,40,7,14,9.75,Y
37,Staff 50,10050.0,NaN,5.5,20,11.25,N
38,Staff 51,10051.0,58,8,15,12.75,N
39,Staff 52,10052.0,44,8.5,16,10.5,N
40,Staff 54,10054.0,46,6.5,20,8.25,Y
41,Staff 57,10057.0,46,8,16,9,N
42,Staff 58,10058.0,48,NaN,15,8.25,Y
43,Staff 59,10059.0,57,8.5,18,12,N
44,Staff 60,10060.0,46,8.5,13,12,Y

h) Change the data type of StaffID to int.

In [9]:
#your solution
df['Staff ID'] = df['Staff ID'].astype(int)
df

,name,Staff ID,normal_hrs_work,normal_rate,overtime_hrs_work,over_time_rate,weekly
0,Staff 01,10001,56,7.5,18,13.5,N
1,Staff 02,10002,44,7.5,8,8.25,Y
2,Staff 03,10003,53,8,20,10.5,Y
3,Staff 05,10005,47,9,9,9,Y
4,Staff 06,10006,60,7.5,10,12,Y
5,Staff 08,10008,58,6.5,16,12.75,Y
6,Staff 09,10009,55,7.5,12,10.5,N
7,Staff 10,10010,57,6.5,10,10.5,Y
8,Staff 12,10012,40,6.5,19,11.25,Y
9,Staff 14,10014,50,6.5,19,11.25,Y
10,Staff 16,10016,NaN,8,16,10.5,N
11,Staff 17,10017,48,8.5,12,12.75,N
12,Staff 18,10018,42,7.5,3,8.25,Y
13,Staff 19,10019,59,6.5,10,13.5,Y
14,Staff 21,10021,42,6.5,16,NaN,Y
15,Staff 22,10022,42,9,9,11.25,Y
16,Staff 23,10023,53,NaN,8,10.5,N
17,Staff 25,10025,52,7,19,10.5,Y
18,Staff 26,10026,52,9,1,10.5,Y
19,Staff 27,10027,41,5.5,19,10.5,N
20,Staff 28,10028,57,8,19,NaN,Y
21,Staff 29,10029,44,5.5,17,12,Y
22,Staff 30,10030,43,7.5,1,9,Y
23,Staff 31,10031,48,7,11,8.25,Y
24,Staff 32,10032,NaN,7,11,13.5,Y
25,Staff 33,10033,58,8.5,3,10.5,Y
26,Staff 35,10035,43,8.5,4,11.25,Y
27,Staff 37,10037,50,6.5,17,9.75,Y
28,Staff 38,10038,58,8,2,11.25,Y
29,Staff 39,10039,41,NaN,5,11.25,Y
30,Staff 43,10043,55,6,8,12,Y
31,Staff 44,10044,49,6.5,2,13.5,Y
32,Staff 45,10045,56,9,7,9.75,N
33,Staff 46,10046,51,8.5,3,11.25,Y
34,Staff 47,10047,40,7.5,12,12.75,N
35,Staff 48,10048,59,6,8,9.75,Y
36,Staff 49,10049,40,7,14,9.75,Y
37,Staff 50,10050,NaN,5.5,20,11.25,N
38,Staff 51,10051,58,8,15,12.75,N
39,Staff 52,10052,44,8.5,16,10.5,N
40,Staff 54,10054,46,6.5,20,8.25,Y
41,Staff 57,10057,46,8,16,9,N
42,Staff 58,10058,48,NaN,15,8.25,Y
43,Staff 59,10059,57,8.5,18,12,N
44,Staff 60,10060,46,8.5,13,12,Y

i) Catagorize the data in `normal_hrs_work` into 3 bins (High, Moderate, Low) using equal width binning. Add a column named `normal_hrs_work_bin` with the respective labels (High, Moderate, Low).

In [10]:
#your solution
df['normal_hrs_work_bin'] = pd.cut(df[~(df.normal_hrs_work == 'NaN')]['normal_hrs_work'], 3, labels=['Low', 'Moderate', 'High'], include_lowest=True)
df

,name,Staff ID,normal_hrs_work,normal_rate,overtime_hrs_work,over_time_rate,weekly,normal_hrs_work_bin
0,Staff 01,10001,56,7.5,18,13.5,N,High
1,Staff 02,10002,44,7.5,8,8.25,Y,Low
2,Staff 03,10003,53,8,20,10.5,Y,Moderate
3,Staff 05,10005,47,9,9,9,Y,Moderate
4,Staff 06,10006,60,7.5,10,12,Y,High
5,Staff 08,10008,58,6.5,16,12.75,Y,High
6,Staff 09,10009,55,7.5,12,10.5,N,High
7,Staff 10,10010,57,6.5,10,10.5,Y,High
8,Staff 12,10012,40,6.5,19,11.25,Y,Low
9,Staff 14,10014,50,6.5,19,11.25,Y,Moderate
10,Staff 16,10016,NaN,8,16,10.5,N,NaN
11,Staff 17,10017,48,8.5,12,12.75,N,Moderate
12,Staff 18,10018,42,7.5,3,8.25,Y,Low
13,Staff 19,10019,59,6.5,10,13.5,Y,High
14,Staff 21,10021,42,6.5,16,NaN,Y,Low
15,Staff 22,10022,42,9,9,11.25,Y,Low
16,Staff 23,10023,53,NaN,8,10.5,N,Moderate
17,Staff 25,10025,52,7,19,10.5,Y,Moderate
18,Staff 26,10026,52,9,1,10.5,Y,Moderate
19,Staff 27,10027,41,5.5,19,10.5,N,Low
20,Staff 28,10028,57,8,19,NaN,Y,High
21,Staff 29,10029,44,5.5,17,12,Y,Low
22,Staff 30,10030,43,7.5,1,9,Y,Low
23,Staff 31,10031,48,7,11,8.25,Y,Moderate
24,Staff 32,10032,NaN,7,11,13.5,Y,NaN
25,Staff 33,10033,58,8.5,3,10.5,Y,High
26,Staff 35,10035,43,8.5,4,11.25,Y,Low
27,Staff 37,10037,50,6.5,17,9.75,Y,Moderate
28,Staff 38,10038,58,8,2,11.25,Y,High
29,Staff 39,10039,41,NaN,5,11.25,Y,Low
30,Staff 43,10043,55,6,8,12,Y,High
31,Staff 44,10044,49,6.5,2,13.5,Y,Moderate
32,Staff 45,10045,56,9,7,9.75,N,High
33,Staff 46,10046,51,8.5,3,11.25,Y,Moderate
34,Staff 47,10047,40,7.5,12,12.75,N,Low
35,Staff 48,10048,59,6,8,9.75,Y,High
36,Staff 49,10049,40,7,14,9.75,Y,Low
37,Staff 50,10050,NaN,5.5,20,11.25,N,NaN
38,Staff 51,10051,58,8,15,12.75,N,High
39,Staff 52,10052,44,8.5,16,10.5,N,Low
40,Staff 54,10054,46,6.5,20,8.25,Y,Low
41,Staff 57,10057,46,8,16,9,N,Low
42,Staff 58,10058,48,NaN,15,8.25,Y,Moderate
43,Staff 59,10059,57,8.5,18,12,N,High
44,Staff 60,10060,46,8.5,13,12,Y,Low